* {
  text-decoration: none;
}

.pageTitle {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.recentCities {
  width: 15%;
}

#cardsContainer {
  display: flex;
}

/* #selectedCity {
  width: 100%;
} */
